{%extends 'base.html'%}
{%block content%}
{% csrf_token %}
	    <div class="row" id="bg10">
			<div class="col-md-12">
				<div class="text-center text-light p-4">
					<h2>Reset</h2>
					password/reset
				</div>
			</div>
		  </div>
		{% for field in form %}
		<div class="row p-5">
			<div class="col-md-12 text-center">	    		
			{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
					{% endif %}
		{% endfor %}
		<div class="form-buttons mt-5">
			<input type="submit" value="Send" class="btn btn-info">
			<a href="{%url 'login' %}"  class="btn btn-info">Cancel</a>
		</div>
	</form>
</div>
</div>
</div>
	{%endblock content%}
	
	