{% extends 'base.html' %}
{% block content %}
<div class="row" id="bg10">
    <div class="col-md-12">
        <div class="text-center text-light p-4">
            home/pay
            <h2>Pay Now</h2>
        </div>
    </div>
  </div>
  <div class="container">
  <div class="row " id="pay">
<div class="col-md-12">
     <button type="submit" id="btnpay" class="btn btn-primary">Pay Now</button>
</div>
</div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    
var options = {
    key: "{{razorpay_key}}",
    amount: "{{order.amount}}", 
    currency: "INR",
    name: "{{order.name}}",
    description: "Test Transaction",
    image: "https://www.pngfind.com/pngs/m/303-3031049_blello-mattress-mattress-hd-png-download.png",
    order_id: "{{order.provider_order_id}}",
    callback_url: "{{callback_url}}",
    redirect: true,
    prefill: {
        "name": "{{ order.name }}",
        "email": "{{ user.email }}",
        "contact": "9999999999"
    },
    notes: {
        "address": "Mattress"
    },
    theme: {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById("btnpay").onclick=function(e)
{
rzp1.open();
e.preventDefault();
}
</script>



{% endblock %}





