{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />

<div class="row" id="bg10">
    <div class="col-md-12">
        <div class="text-center text-light p-4">
            <h2>About</h2>
            home/about
        </div>
    </div>
  </div>

<div class="row p-5" id="cover">
    <div class="col-md-6 ">
        <div class="container1">
            <img src="{% static 'a.webp' %}" class="rounded-3 image" width="100%" height="600px" />
            <div class="middle">
                <p>Different Comfort Level</p>
                <h3>Mattress<h3>
            </div>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="row" id="cover">
            <div class="col-md-12 p-0">
                <div class="container1">
                    <img src="{% static 'b.webp' %}" class="rounded-3 image" height="300px" width="100%" />
                    <div class="middle">
                        <p>Soft And Comfort</p>
                        <h3>Form Cushions</h3>
                    </div>
                </div>
            </div>
        </div>
            
                <div class="row" id="cover">
                    <div class="col-md-12 p-0">
                        <div class="container1">
                            <img src="{% static 'c.webp' %}" class="rounded-3 image" height="300px" width="100%" />
                            <div class="middle">
                                <p>Light Weight Cushions</p>
                                <h3>Flexible</h3>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-3">
            <div class="row " id="cover">
                <div class="col-md-12 p-0">
                    <div class="container1">
                    <img src="{% static 'd.webp' %}" class="rounded-3 image" height="300px" width="100%" />
                    <div class="middle">
                        <p>Supporter Cushion</p>
                                <h3>For Relax</h3>
                        </div>
                </div>
                </div>
                </div>
                <div class="row" id="cover">
                <div class="col-md-12 p-0 ">
                    <div class="container1">
                    <img src="{% static 'e.webp' %}" class="rounded-3 image" height="300px" width="100%" />
                    <div class="middle">
                        <p>Cotton Soft Mattress</p>
                        <h3>Best Quality</h3>
                    </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    <div class="row p-5">
        <div class="col-md-6 position-relative">
            <img src="{% static 'f.webp' %}" class="my-5" alt="" width="100%">
        </div>
        <div class="col-md-6 p-5 my-5">
            <i class="fa fa-leaf fs-1 text-success my-5"></i>
            <h3 class=" text-info">SPRING MATTRESS</h3>
            <p class="mt-2 ms-1">
                A spring mattress is a type of bed that contains springs or coils within its core
                , providing support and comfort for the sleeper. 
                It typically has a cushioned top layer and is available in a range of firmness levels.
            </p>
            <div>
                <button class=" btn border btn-lg shadow-sm  bg-light my-2">Read more</button>
            </div>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-md-6 p-5 my-5">
            <i class="fa fa-leaf fs-1 text-success my-5"></i>
            <h3 class=" text-info">BEDSPREAD</h3>
            <p class="mt-2 ms-1">
                 A bedspread is a decorative covering that drapes over a mattress and reaches the floor.
                  It's used to add style to a bedroom and can be made from a variety of materials,
                   such as cotton, linen, or polyester.
            </p>
            <div>
                <button class=" btn border btn-lg shadow-sm  bg-light my-2">Read more</button>
            </div>
        </div>
        <div class="col-md-6 position-relative">
            <img src="{% static 'G.webp' %}" class="my-5" alt="" width="100%">
        </div>
    </div>
    <div class="row  about-1" id="bg111">
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-6 offset-3 ">
                    <h3 class="text-center ">WHAT WE DO</h3>
                </div>
            </div>
            <div class="row p-5" id="bg8">
                <div class="col-md-4 ">
                    <div class="d-flex">
                        <i class="fa-sharp fa-solid fa-droplet  fs-5 "></i>
                        <h3 class="text-center ms-3">MATTRESS</h3>
                    </div>
                    <P>We use a mattress for sleeping and resting, choosing one that suits our preferences and needs,
                         regularly cleaning and maintaining it to prolong its lifespan and ensure hygiene,
                         and eventually replacing it when it no longer provides adequate support and comfort.</P>
                </div>
                <div class="col-md-4 ">
                    <div class="d-flex">
                        <i class="fa-sharp fa-solid fa-leaf fs-5 "></i>
                        <h3 class="text-center  ms-3">CUSHIONS</h3>
                    </div>
                    <P>Cushions are used for comfort and decoration, placed on sofas, chairs, or beds. We choose ones that match
                         our decor and preferences,
                         fluff them regularly to maintain their shape, and clean them periodically to ensure hygiene.</P>
                </div>
                <div class="col-md-4">
                    <div class="d-flex">
                        <i class=" fa-sharp fa-solid fa-house fs-5"></i>
                        <h3 class="text-center ms-3">DECORATION</h3>
                    </div>
                    <P>Decoration is used to enhance the aesthetic appeal of a space. We choose decorative items that suit
                         our tastes and style, arrange them creatively, 
                        and maintain them periodically to keep the space looking fresh and inviting.</P>
                </div>
            </div>
            <div class="row p-5" id="bg9">
                <div class="col-md-4">
                    <div class="d-flex">
                        <i class="fa-sharp fa-regular fa-clock fs-5"></i>
                        <h3 class="text-center ms-3">CURTAINS</h3>
                    </div>
                    <P>Curtains are used to provide privacy, regulate natural light, and add style to a room. We choose ones that match our decor and preferences,
                         regularly clean and maintain them, and eventually replace them when they show signs of wear and tear.</P>
                </div>
                <div class="col-md-4">
                    <div class="d-flex">
                        <i class=" fa-sharp fa fa-gear fs-5"></i>
                        <h3 class="text-center ms-3">BED COVER</h3>
                    </div>
                    <P>Bedcovers are used to protect bedding and add style to a bedroom. We choose ones that match our decor and preferences, 
                        regularly wash and maintain them, and replace them periodically to keep the bed looking fresh and clean.</P>
                </div>
                <div class="col-md-4">
                    <div class="d-flex">
                        <i class="fa-sharp fa fa-users fs-5"></i>
                        <h3 class="text-center ms-3">BLANKETS</h3>
                    </div>
                    <P>Blankets are cozy and versatile, keeping you warm while sleeping or relaxing on the couch. 
                        Available in different fabrics, sizes, and styles,
                         they are a must-have for anyone looking to stay comfortable and snug.</P>
                </div>
            </div>
        </div>
    </div>


<div class="row p-5">
    <div class="col-md-12">
        <h3 class="text-center ">OUR CLIENTS</h3>
    </div>
</div>
<div class="row ">
    <div class="col-md-3">
        <img src="{% static '01.avif' %}" class="my-3" alt="" width="65%">
    </div>
    <div class="col-md-3">
        <img src="{% static '02.avif' %}" class="my-3" alt="" width="65%">
    </div>
    <div class="col-md-3">
        <img src="{% static '03.avif' %}" class="my-3" alt="" width="65%">
    </div>
    <div class="col-md-3">
        <img src="{% static '04.avif' %}" class="my-3" alt="" width="65%">
    </div>
</div>
<div class="row pt-0 pb-5">
    <span class="border-bottom"></span>
</div>


{% endblock %}