{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row" id="bg10">
    <div class="col-md-12">
        <!--<div class="row p-3">-->
        <div class="text-center text-light p-4">
            <h2>SERVICES</h2>
            home/services
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center fw-bold display-5 mt-5" style="color:blue">GREAT MATTRESS FOR EVERYONE</h3>
    </div>
</div>
<div class="row p-5" id="bg0">
    <div class="col-md-6 position-relative">
        <img src="{% static 'z1.webp' %}" class="my-5" alt="" width="100%">
    </div>
    <div class="col-md-6 py-5 mt-5">
        <div class="d-flex">
            <i class="fa-sharp fa fa-bed fs-5 text-bold"></i>
            <h3 class="text-center ms-3">mattress manufacturer</h3>
        </div>
        <P>Sed vestibulum nulla elementum auctor tincidunt.
            Aliquam sit amet cursus mauris.
            Sed vitae mattis ipsum. Vestibulum enim nulla
            , sollicitudin ac hendrerit nec, tempor quis nisl</P>
        <div class="row" id="bg0">
            <div class="col-md-12">
                <div class="d-flex">
                    <i class="fa-sharp fa fa-bed fs-5 text-bold"></i>
                    <h3 class="text-center ms-3">mattress manufacturer</h3>
                </div>
                <P>Sed vestibulum nulla elementum auctor tincidunt.
                    Aliquam sit amet cursus mauris.
                    Sed vitae mattis ipsum. Vestibulum enim nulla
                    , sollicitudin ac hendrerit nec, tempor quis nisl</P>
            </div>
        </div>
        <div class="row" id="bg0">
            <div class="col-md-12">
                <div class="d-flex">
                    <i class="fa-sharp fa fa-bed fs-5 text-bold"></i>
                    <h3 class="text-center ms-3">mattress manufacturer</h3>
                </div>
                <P>Sed vestibulum nulla elementum auctor tincidunt.
                    Aliquam sit amet cursus mauris.
                    Sed vitae mattis ipsum. Vestibulum enim nulla
                    , sollicitudin ac hendrerit nec, tempor quis nisl</P>
            </div>
        </div>
    </div>

</div>

<div class="row" id="bgx">
    <div class="col-md-12 mt-5">
    </div>
    <div class="col-md-6 position-relative" id="cover">
        <div class="container1">
        <img src="{% static 'z2.webp' %}" class="rounded-3 image" width="100%" height="630px" />
       <div class="middle">
            <h3>Well Ventilated</h3>
        </div>
    </div>
</div>
    <div class="col-md-6 " >
        <div class="row mb-3" id="cover">
            <div class="container1">
            <img src="{% static 'z3.webp' %}" class="rounded-3 image" width="100%" height="200px" />
            <div class="middle">
                <h3>High Density</h3>
            </div>
        </div>
    </div>
        <div class="row mb-3" id="cover">
            
                    <div class="container1">
                    <img src="{% static 'z4.webp' %}" class="rounded-3 image" width="100%" height="200px" />
                    <div class="middle">
                        <h3>Durability</h3>
                    </div>
                </div>
            </div>
            
            <div class="row" id="cover">
              
                        <div class="container1">
                        <img src="{% static 'zz.webp' %}" class="rounded-3 image"width="100%" height="200px" />
                        <div class="middle">
                            <h3>High Comfert</h3>
                        </div>
                    </div>
                </div>
                
            </div>
        
        </div>
    
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center fw-bold display-5 mt-5" style="color:blue">DUTY FREE SHOP</h3>
        </div>
    </div>
    <div class="row  p-5">
        <div class="col-md-3 pulse-button">
            <h3>Mattress Firmness</h3>
        <p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris</p>
        </div>
        <div class="col-md-3">
            <h3>Cooling Technologies</h3>
        <p>Sed rutrum tellus pellentesque eu tincidunt tortor aliquam nulla phasellus faucibus</p>
        </div>
        <div class="col-md-3">
            <h3>Additional Layers</h3>
        <p>Ted quam id leo in vitae turpis massa sed elementum mollis aliquam ut porttitor leo a diam</p>
        </div>
        <div class="col-md-3">
            <h3>Adjustable Technologies</h3>
        <p>Ded tincidunt tortor aliquam nulla facilisi cras fermentum purus semper eget duis at tellus</p>
        </div>
    </div>
{% endblock %}